.div-loading {
  height: 50vh;
}

.loading {
  height: 5rem;
  width: 5rem;
}

.card-title{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 1200px){
  .poster{
     height: 20rem;
  }
}

@media screen and (min-width: 1200px){
  .poster{
     height: 25rem;
  }
}