@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif !important;
}

.background{
    min-height: 100vh;
    background-image: url(assets/img/cinema-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.glass{
    background-color: #ffffff10;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.137);
    position: relative;
    top: 5vh;
}